<html>
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="create-blog content">
      <!-- <h2><%= blogData.title %></h2> -->
      <form action="">
        <label for="title">Blog title:</label>
        <input
          type="text"
          id="title"
          name="title"
          value="<%= blogData.title %>"
          required
        />
        <label for="snippet">Blog snippet:</label>
        <input
          type="text"
          id="snippet"
          name="snippet"
          value="<%= blogData.snippet %>"
          required
        />
        <label for="body">Blog body:</label>
        <textarea id="body" name="body" required><%= blogData.body %></textarea>
        <span class="blogId" data-doc="<%= blogData._id %>"></span>
        <button>Submit</button>
      </form>
    </div>

    <%- include("./partials/footer.ejs") %>

    <script>
      const form = document.querySelector("form");
      const blogId = document.querySelector("span.blogId");

      //   console.log("iddd ===> ", blogId.dataset.doc);

      form.addEventListener("submit", async (e) => {
        e.preventDefault();

        // get values
        const title = form.title.value;
        const snippet = form.snippet.value;
        const body = form.body.value;
        const id = blogId.dataset.doc;

        const endpoint = `/blogs/${id}/edit`;

        try {
          console.log(" Form Data ==> ", title, snippet, body, id);

          const res = await fetch(endpoint, {
            method: "POST",
            body: JSON.stringify({ title, snippet, body }),
            headers: { "Content-Type": "application/json" },
          });
          const data = await res.json();
          console.log("Data ==> ", data);
          if (data) {
            location.assign("/");
          }
        } catch (err) {
          console.log("Error => ", err);
          location.assign("/");
        }
      });
    </script>
  </body>
</html>
